---
import PhoneFrame from '../components/PhoneFrame.tsx';
import PhonebookApp from '../components/PhonebookApp.tsx';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Phonebook App</title>
  </head>
  <body>
    <PhoneFrame client:load>
      <PhonebookApp client:load />
    </PhoneFrame>
  </body>
</html>
